@charset "utf-8";
/* CSS Document */

html, body{
	margin: 0;
	padding: 0;
	height:100%;
	background-color:#eee;
}

body > #container { 
height: auto; 
min-height: 100%; 
height: 100%;
}

#header,#main{
	width:1100px;
	margin-left:auto;
	margin-right:auto;
}
	
#header {
   padding:10px;
   height: 151px;
}

#logo{
	width: 40%;
	float:left;
}

#nav{
	width: 60%;
	float:right;
}

/*nav css*/
#navbar{
width:auto;
height:70px;
margin-top:30px;
margin-left:30px;
}
#navbar .inbar{
display:block;
height:60px;
}
#navbar ul, #navbar ul li{
border:0px;
margin:10px;
padding:0px;
list-style:none;
height:50px;
line-height:50px; }
#navbar ul li{
float:left;
display:block;
line-height:50px;
margin-left:10px;
}
#navbar ul li a{
color:#403e32;
text-decoration:none;
font-weight:bold;
display:block;
}
#navbar ul li a span{
height:50px;
line-height:50px;
display:block;
float:right;
margin-left:15px;
}
#navbar .navhome a, #navbar .navhome a:hover{

}
#navbar .navhome a span, #navbar .navhome a:hover span{
}
#navbar ul li:hover{
border:dotted 1px white;
   border-radius: 5px 5px 5px 5px;
   -moz-border-radius: 5px 5px 5px 5px;
   -webkit-border-radius: 5px;
   -webkit-border-radius: 5px;
}
#navbar ul li a:hover span{

} 

/*end*/

#main {
   background-color:white;
   overflow:hidden;
   border:2px solid #ccc;
   padding-bottom:3em; /*for sticky footer*/
}

#footer {
 clear: both;
 position: relative;
 z-index: 10;
 height: 3em;
 margin-top: -3em;
 background:#1B1112;
}

#leftmain{
	width: 19%;
	float:left;
}

#ajax-content{
	width:79%;
	float:right;
	border:solid 1px #ccc;
	padding:10px;
}

#container, #logo, #nav,#leftmain, #rightmain{
   height:100%;
}


/*borders rounded*/
#main, #ajax-content,ul#nav-tabs li a, #tabs_container{
   border-radius: 5px 5px 5px 5px;
   -moz-border-radius: 5px 5px 5px 5px;
   -webkit-border-radius: 5px;
   -webkit-border-radius: 5px;
 }
 
ul#nav-tabs
{
list-style-type:none;
margin:0;
padding:0;
} 

ul.horizontal li
{
float:left;
}

ul#nav-tabs li a
{
display:block;
width:90%;
background-color:#A4C639;	/*android green*/
margin:10px;
height:40px;
text-align:center;
color:white;
text-decoration:none;
}

ul#nav-tabs li a:hover{
background-color:#99CC99;
}

.divclean{
clear:both;
}

/*css for tab*/
#tabs_container {
	border:1px solid #ccc;
	background-color:#CCCC99;
}
#tabs {
    list-style: none;
    padding: 5px 0 4px 0;
    margin: 0 0 0 10px;
    font: 0.75em arial;
	height:20px;
}
#tabs li {
    display: inline;
}

#tabs li a {
	height:100%;
	width:100px;
    border: 1px solid #ccc;
    padding: 4px 6px;
    text-decoration: none;
    background-color: #eeeeee;
    border-bottom: none;
    outline: none;
    border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
}
#tabs li a:hover {
    background-color: #dddddd;
    padding: 4px 6px;
}
#tabs li.active a {
    border-bottom: 1px solid #fff;
    background-color: #fff;
    padding: 4px 6px 5px 6px;
    border-bottom: none;
}
#tabs li.active a:hover {
    background-color: #eeeeee;
    padding: 4px 6px 5px 6px;
    border-bottom: none;
}
 
 
#tabs_content_container {
    border: 1px solid #ccc;
    border-top: none;
    padding: 10px;
	background-color:white;
}
.tab_content {
    display: none;
}

/*end of tab*/

.errorDiv{
	border: 1px solid red;
	color:red;
}

.successDiv{
	border: 1px solid green;
	color:green;
}

/*Modal box*/
#overlay, #overlay2, #overlay3 {
     visibility: hidden;
     position: absolute;
     left: 0px;
     top: 0px;
     width:100%;
     text-align:center;
     z-index: 1000;
	background-color: rgba(0, 0, 0, 0.9); /* Color black with alpha 0.9*/
	
}

#overlay div, #overlay3 div#book_confirmBox {
     width:300px;
     margin: 100px auto;
     background-color: #fff;
     border:1px solid #000;
     padding:15px;
     text-align:center;
}

#overlay2 div#event_info2{
	width:700px;
	margin: 100px auto;
     background-color: #fff;
     border:1px solid #000;
     padding:15px;
     text-align:center;
}



#overlay2 div#event_info2 div.overlay_table{
border:solid 1px black; 
margin-left:auto;
margin-right:auto;
}

#overlay2 div input[type=text],#overlay2 div input[type=email]{
background-color:#FF9966;
opacity:0.8;
}

.overlay_header{
background-color:#86C67C;
}

/*thumbnail css*/
div.thumbnail
{
  margin:20px;
  border:1px solid #0000ff;
  height: 285px;
  width:220px;
  float:left;
  text-align:center;
}

div.thumbnail:hover{
	background-color:black;
}
div.thumbnail img
  {
  display:inline;
  margin:3px;
  border:1px solid #ffffff;
  max-width:90%; 
  max-height:90%;
  }
div.thumbnail a:hover img
  {
  border:1px solid #0000ff;
  }
div.desc
  {
  text-align:center;
  font-weight:normal;
  width:120px;
  margin:2px;
  }