@charset "utf-8";
/* CSS Document */

html, body{
	margin: 0;
	padding: 0;
	height:100%;
	background-color:#eee;
	background-image:url('../images/diagonal.png');
	background-repeat:repeat; 
	font-family:"Comic Sans MS", cursive, sans-serif;
	color:#808080;
	text-align:justify;
}

body > #container { 
height: auto; 
min-height: 100%; 
height: 100%;
}

#header,#main{
	width:1100px;
	margin-left:auto;
	margin-right:auto;
}
	
#header {
   padding:10px;
   height: 151px;
   /*background-color:white;
   border-bottom:solid 3px #999967;
   border-left:solid 2px 	#CCCC9A;
   border-right:solid 2px 	#CCCC9A;*/
}

.parallelogram {
	margin:20px;
	width: 50%;
	height: 50px;
	-webkit-transform: skew(20deg);
	-moz-transform: skew(20deg);
	-o-transform: skew(20deg);
	background: #74c576;
	box-shadow: 10px 10px 5px #6B824A;
}

.parallelogram2 {
	margin:20px;
	width: 70%;
	height: 30px;
	-webkit-transform: skew(20deg);
	-moz-transform: skew(20deg);
	-o-transform: skew(20deg);
	background:			 #f48942;
	box-shadow: 10px 10px 5px #666666;
}


/*css for browse event*/
.event_content{
	width:90%;
	border:dotted 1px #ccc;
	margin-left:auto;
	margin-right:auto;
	padding: 10px;
}

.left_content{
	width:30%;
	float:left;

}

.left_content img{
	margin:0;
	width:294px;
	height:392px;
}

.right_content{
	width:70%;
	float:left;
}

.label1{
	color:#4C7D7E;
	font-weight:bold;
}

.youtube-player{

}

#logo{
	width: 40%;
	float:left;
}

#nav{
	width: 60%;
	float:right;
}

/*nav css*/
#navbar{
width:auto;
height:70px;
margin-top:30px;
margin-left:30px;
}
#navbar .inbar{
display:block;
height:60px;
}
#navbar ul, #navbar ul li{
border:0px;
margin:10px;
padding:0px;
list-style:none;
height:50px;
line-height:50px; }
#navbar ul li{
float:left;
display:block;
line-height:50px;
margin-left:10px;
}
#navbar ul li a{
color:#403e32;
text-decoration:none;
font-weight:bold;
display:block;
}
#navbar ul li a span{
height:50px;
line-height:50px;
display:block;
float:right;
margin-left:15px;
}
#navbar .navhome a, #navbar .navhome a:hover{

}
#navbar .navhome a span, #navbar .navhome a:hover span{
}
#navbar ul li:hover{
border:dotted 1px #FE8402;
   border-radius: 5px 5px 5px 5px;
   -moz-border-radius: 5px 5px 5px 5px;
   -webkit-border-radius: 5px;
   -webkit-border-radius: 5px;
}
#navbar ul li a:hover span{

} 

/*end*/

#main {
   background-color:white;
   overflow:hidden;
   border:2px solid #ccc;
   padding-bottom:3em; /*for sticky footer*/
   padding:10px;
}

#footer {
 clear: both;
 position: relative;
 z-index: 10;
 height: 3em;
 margin-top: -3em;
 background:#1B1112;
}

#leftmain{
	width: 20%;
	float:left;
}

#ajax-content{
	width:75%;
	float:right;
	border:solid 1px #ccc;
	padding:10px;
}

#container, #logo, #nav,#leftmain, #rightmain{
   height:100%;
}


/*borders rounded*/
#main, #ajax-content,ul#nav-tabs li a, #tabs_container, #header, .overlayform{
   border-radius: 5px 5px 5px 5px;
   -moz-border-radius: 5px 5px 5px 5px;
   -webkit-border-radius: 5px;
   -webkit-border-radius: 5px;
 }
 
ul#nav-tabs
{
list-style-type:none;
margin:0;
padding:0;
} 

ul.horizontal li
{
float:left;
}

ul#nav-tabs li a
{
display:block;
width:90%;
background-color:#A4C639;	/*android green*/
margin:10px;
height:40px;
text-align:center;
color:white;
text-decoration:none;
}

ul#nav-tabs li a:hover{
background-color:#99CC99;
}


.divclean{
clear:both;
}



/*css for tab*/
#tabs_container {
	border:1px solid #ccc;
	background-color:#CCCC99;
}
#tabs {
    list-style: none;
    padding: 5px 0 4px 0;
    margin: 0 0 0 10px;
    font: 0.75em arial;
	height:20px;
}
#tabs li {
    display: inline;
}

#tabs li a {
	height:100%;
	width:100px;
    border: 1px solid #ccc;
    padding: 4px 6px;
    text-decoration: none;
    background-color: #eeeeee;
    border-bottom: none;
    outline: none;
    border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
}
#tabs li a:hover {
    background-color: #dddddd;
    padding: 4px 6px;
}
#tabs li.active a {
    border-bottom: 1px solid #fff;
    background-color: #fff;
    padding: 4px 6px 5px 6px;
    border-bottom: none;
}
#tabs li.active a:hover {
    background-color: #eeeeee;
    padding: 4px 6px 5px 6px;
    border-bottom: none;
}
 
 
#tabs_content_container {
    border: 1px solid #ccc;
    border-top: none;
    padding: 10px;
	background-color:white;
}
.tab_content {
    display: none;
}

/*end of tab*/

.errorDiv p{
	/*border: 1px solid red;
	color:red;*/
	background-color:#F5DEB3;
}

.successDiv p{
	/*border: 1px solid green;
	color:green;*/
	background-color:#74c576;
}

.returnBox p, .errorDiv p, .successDiv p{
    clear:both;
    margin-left:auto;
	margin-right:auto;
    border:1px solid #fff;
    width:400px;
    padding:10px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow:0px 0px 3px #aaa;
    -webkit-box-shadow:0px 0px 3px #aaa;
    box-shadow:0px 0px 3px #aaa;
	text-align:center;

}

/*Modal box*/
#overlay, #overlay2, #overlay3, #edit_eventForm {
     visibility: hidden;
     position: absolute;
     left: 0px;
     top: 0px;
     width:100%;
	 height:100%;
     text-align:center;
     z-index: 1000;
	background-color: rgba(0, 0, 0, 0.9); /* Color black with alpha 0.9*/
}

#overlay div, #overlay3 div#book_confirmBox {
     width:700px;
     margin: 100px auto;
     background-color: #fff;
     border:1px solid #000;
     padding:15px;
     text-align:center;
}

#overlay2 div#event_info2, #edit_eventForm div#event_info{
	width:700px;
	margin: 100px auto;
     background-color: #fff;
     border:1px solid #000;
     padding:15px;
     text-align:center;
	 background-image:url('../images/diagonal.png');
	background-repeat:repeat; 
}



#overlay2 div#event_info2 div.overlay_table{
border:solid 1px black; 
margin-left:auto;
margin-right:auto;
}

#overlay2 div input[type=text],#overlay2 div input[type=email]{
background-color:#FF9966;
opacity:0.8;
}

.overlay_header{
background-color:#86C67C;
}

/*thumbnail css*/
div.thumbnail
{
  margin:20px;
  border:1px solid #CCCCCC;
  height: 300px;
  width:220px;
  float:left;
  text-align:center;
}

div.thumbnail:hover{
	border:dotted 1px #FE8402;
}
div.img_c img
  {
  display:inline;
  /*border:1px solid #ffffff;*/
  width:100%; 
  height:100%;
  }
  
div.desc
  {
  text-align:center;
  font-weight:normal;
	width:100%;
  height:10%;
  background-color:	#D6E3B5;
  float:left;
  }
  
 div.img_c{
 height:90%;
 }
  
 .blueHeader{
background-color:#99CC99;
 }
 
 .table_center{
 margin-left:auto; 
 margin-right:auto;
 border:solid 1px #F0F0F0;
 border-collapse:collapse;
text-align:center;
 }
 .table_center th{
 background-color:#F0F0F0;
 }
 
 .table_center tr:nth-child(odd) {
    background-color: #F0F0F0;
}

.table_center2{
 margin-left:auto; 
 margin-right:auto;
 border:solid 1px #F0F0F0;
 border-collapse:collapse;
text-align:center;
 }
 .table_center2 th{
 background-color:	#99CC99;
 border:solid 1px gray;
 }
 
 .table_center2 tr:nth-child(odd) {
    background-color: 	#B0E57C;
}

#sched_table{
	margin-left:auto;
	margin-right:auto;
	font-size:20px;
	border-spacing:15px;
}

#sched_table tr
{
display: table;            /* this makes borders/margins work */
border-top:solid 1px #E8E8E8 ;
border-bottom:solid 1px #E8E8E8 ;
margin:2px;
height:50px;
}

#sched_table tr:nth-child(even) {

background-color: #F0F0F0;
}

#sched_table tr:nth-child(odd){

}

.dateheader
{
	position: relative;
	width: 30%;
	font-size: 1.3em;
	font-weight: bold;
	padding: 7px 20px 7px 25px;
	margin: 0 10px 25px -30px;
	color: white;
	background-color: 	 #666666;
	-webkit-box-shadow: 0px 2px 4px #888;
	-moz-box-shadow: 0px 2px 4px #888;
	box-shadow: 0px 2px 4px #888;
	}

/* wrap */
.dateheader:after {
	left: 0px;
	top: 100%;
	border-width: 5px 5px;
	border-style: solid;
	border-color: #666 #666 transparent transparent;
	}
	
.book_ticket {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #63b8ee), color-stop(1, #468ccf) );
	background:-moz-linear-gradient( center top, #63b8ee 5%, #468ccf 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#63b8ee', endColorstr='#468ccf');
	background-color:#63b8ee;
	-moz-border-radius:19px;
	-webkit-border-radius:19px;
	border-radius:19px;
	border:1px solid #3866a3;
	display:inline-block;
	color:#14396a;
	font-family:arial;
	font-size:22px;
	font-weight:bold;
	padding:3px 30px;
	text-decoration:none;
}.book_ticket:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #468ccf), color-stop(1, #63b8ee) );
	background:-moz-linear-gradient( center top, #468ccf 5%, #63b8ee 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#468ccf', endColorstr='#63b8ee');
	background-color:#468ccf;
}.book_ticket:active {
	position:relative;
	top:1px;
}

.cancel_button {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
	background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
	background-color:#ededed;
	-moz-border-radius:15px;
	-webkit-border-radius:15px;
	border-radius:15px;
	border:2px solid #dcdcdc;
	display:inline-block;
	color:#777777;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:7px 38px;
	text-decoration:none;
	text-shadow:1px 1px 0px #ffffff;
}.cancel_button:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
	background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
	background-color:#dfdfdf;
}.cancel_button:active {
	position:relative;
	top:1px;
}

h2.ribbonHeader
{
	position: relative;
	width: 40%;
	font-size: 1.3em;
	font-weight: bold;
	padding: 7px 20px 7px 25px;
	margin: 0 10px 25px -30px;
	color: white;
	background-color: #74c576;
	text-shadow: 0px 1px 2px #bbb;
	-webkit-box-shadow: 0px 2px 4px #888;
	-moz-box-shadow: 0px 2px 4px #888;
	box-shadow: 0px 2px 4px #888;
	}

h2:before, h2:after {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
	}

/* wrap */
h2.ribbonHeader:after {
	left: 0px;
	top: 100%;
	border-width: 5px 5px;
	border-style: solid;
	border-color: #666 #666 transparent transparent;
	}
	
.formal{
	font-family:"Arial Black", Gadget, sans-serif;
	margin:0;
}

.overlayform{
background: #9cbc2c;
opacity:0.7;
}

.overlayform > table{
display: table;
background: #9cbc2c;
color:black;
}

.overlayform table tr td{
color:black;
}

.overlayform fieldset {
	border: dotted 1px white;
	margin-bottom: 10px;
}


.overlayform legend {
	background: #b9cf6a;
	background: rgba(255,255,255,.3);
	margin:5px;
	color: #384313;
	font-size: 16px;
	font-weight: bold;
	padding-bottom: 10px;
	text-shadow: 0 1px 1px #c0d576;
}

.overlayform input:not([type=radio]),
.overlayform textarea {
	background: #ffffff;
	border: none;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 3px;
	font: italic 13px Georgia, "Times New Roman", Times, serif;
	outline: none;
	padding: 5px;
}
.overlayform input:not([type=submit]):focus,
.overlayform textarea:focus {
	background: #eaeaea;
}
.overlayform input[type=radio] {
	float: left;
	margin-right: 5px;
}
